.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: rgba(250, 249, 246, 0.8);
  /* background-color: #faf9f6; */
}

.navbarContainer {
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 10;
  width: 100%;
  padding: 0 50px;
  align-items: center;
}

.navbarContainer a {
  text-decoration: none;
  color: black;
  font-size: 150%;
  font-weight: bold;
}

.leftNavbar {
  display: flex;
  align-items: center;
  /* width: 50px; */
}

.leftNavbar #logo {
  /* background-color: blue; */
  display: flex;
  align-items: center;
}

.imgContainer {
  width: 50px;
  margin-right: 10px;
}

.leftNavbar img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
}

.rightNavbar {
  display: flex;
  align-items: center;
  gap: 40px;
}
