.section {
    width: 80vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.name {
    font-size: 1.5vw;
    color: #891A1F;
}

.bar {
    background-color: black;
    height: 2px;
    flex-grow: 1;
}
