.brothers {
  margin-top: -80px;
  height: 100%;
  width: 100%;
}

.brothers .banner {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../images/membershipBanner.webp");
  background-size: cover;
  background-repeat: none;
  background-position: center;
  background-attachment: fixed;
}

.brothers .bannerText {
  margin-top: -10%;
  text-align: center;
  color: #faf9f6;
}

.brothers .bannerText h1 {
  font-size: 12vw;
  font-family: "Abhaya Libre", serif;
  margin-bottom: -3vw;
}

.brothers .bannerText h3 {
  font-size: 2vw;
  font-style: italic;
}

.brothers .cardsContainer {
  display: flex;
}

@media screen and (max-width: 950px) {
  .brothers .bannerText h1 {
    font-size: 13vw;
  }
  .brothers .bannerText h3 {
    font-size: 4vw;
  }
}
