/* .button {
  display: inline-block;
  padding: 10px;
  background-color: #2196f3;
  color: white;
  font-size: 16px;
  transition: width 0.3s;
  cursor: pointer;
  overflow: hidden;
  height: 4vh;
}

.button:hover {
  width: 150px;
}

.button:hover .text {
  display: none;
}

.button:hover .icons {
  display: flex;
  justify-content: space-between;
}

.text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icons {
  display: none;
} */

.button {
  display: inline-block;
  background-color: red;
  padding: 10px;
  height: 30px;
  border-radius: 8px;
  cursor: pointer;
}

.textContainer {
  /* background-color: blue; */
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button:hover {
  width: 300px;
}

.button:hover .textContainer {
  display: none;
}

.button:hover .icons {
  display: flex;
  height: 100%;
  width: 100%;
  /* background-color: blue; */
  justify-content: space-between;
  align-items: center;
}

.icons {
  display: none;
}
