.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #faf9f6;
  box-shadow: 0 0 30px rgb(0 0 0 /50%);
  font-family: "Inter", sans-serif;
}

.navbarContainer {
  display: flex;
  justify-content: space-between;
  height: 100px;
  z-index: 10;
  width: 100%;
  padding: 0 50px;
  align-items: center;
}

.navbarContainer a {
  text-decoration: none;
  font-size: 150%;
  font-weight: 800;
}

.leftNavbar {
  display: flex;
  font-family: "Abhaya Libre", serif;
  color: #891a1f;
  align-items: center;
}

.imgContainer {
  display: flex;
  align-items: center;
  margin-right: 5px;
}

.leftNavbar img {
  width: 60px;
  max-width: 100%;
  max-height: 100%;
  height: auto;
}

.textContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.textContainer h3 {
  font-size: 35px;
  margin-bottom: -10px;
}

.rightNavbar {
  display: flex;
  align-items: center;
  gap: 40px;
}

.rightNavbar a {
  color: black;
}
