.placesWorked {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 20px;
    overflow: hidden; 
}

.title {
    display: flex;
    align-items: center;
    margin-bottom: 20px; 
    padding-top: 20px;
    width: 100vw;
    margin-left: 2rem;
}

h1 {
    color: #891A1F;
    font-family: Abhaya Libre ExtraBold;
    font-size: 3rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin: 0;
    white-space: nowrap;
}

.titleLine {
    width: 90%;
    height: 4px;
    background-color: #891A1F;
    margin-bottom: 20px;
    margin-left: 30px;
    margin-top: 20px;
}

.borderLine2 {
    width: 100vw;
    height: 5px;
    background-color: #800020;
    bottom: 10px;
    margin: 0 auto;
    margin-top: 5vh;
}

.gridContainer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    max-height: 80vh;
    align-items: center;
    justify-content: center;
    margin: 0 auto; /* Center horizontally */
    margin-left: 3rem;
}

.grid-item {
    width: 17vw;
    height: 11vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 768px) {
    .title h1 {
        font-size: 2rem; /* Reduce font size for smaller screens */
    }
    
    .title {
        margin-left: 0;
    }

    .gridContainer {
        grid-template-columns: repeat(3, 1fr); /* Repeat items in 3 columns for mobile */
        margin-left: 0; /* Remove the left margin for mobile */
        gap: 0 5rem; 
    }

    .grid-item {
        width: 15vw;
        height: 12vh;
    }

    .borderLine2 {
        margin-top: 10vh;
    }
}